@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-box-shadow {
  /* TODO: Translate to tailwind */
  box-shadow: 0px 9px 46px 8px #0000001f;
}

.card-box-shadow {
  /* TODO: Translate to tailwind */
  box-shadow: 0px 4px 4px 0px #00000040;
}

.funky-table-row-color {
  background: linear-gradient(0deg, #c2c9d1, #c2c9d1),
    linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
}
